*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #282D35;
}

.nav{
  display: flex;
  background: #21222A;
  justify-content: space-between;

}

.nav-right{
  display: flex;
  align-content: center;
}


.nav-title{
  width: 123px;
height: 22px;
flex-shrink: 0;
  color: #61DAFB;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1px;
margin-top: 31px;
margin-bottom: 37px;
}

.nav-logo{
  width: 29px;
  height: 29px;
  flex-shrink: 0; 
  align-self: center;
  margin: 31px 10px 31px 26px;
}

.nav-title-left{
  width: 259px;
height: 21px;
flex-shrink: 0;
  color: #DEEBF8;
text-align: right;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 38px 27px 32px;
}

main{
  padding: 57px 27px;
  color: #FFF;
  background-image: url(./reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main-title{
font-family: Inter;
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -2px;
margin: 0;
}

.list{
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 46px;
}

.list > li{
  padding-block: 10px;
}

.list li::marker{
  color: #61DAFB;
  font-size: 1.4rem;
}